<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/animesh.c/Downloads/ErailAutomationFramework">
        <classes><class name="testcases.ErailTest">
            <methods><include name="validateSpecificStationSuggestion"/>
                <include name="testSelectDate"/>
                <include name="compareActualDropdownWithExpectedExcelData"/>
            </methods></class></classes>
    </test>
</suite>